//
// Logo
//
// @version 2.5.0
//

.logo-link {
  max-width: 175px;
  transition: opacity 0.1s ease-in-out;

  &:active {
    opacity: 0.9;
  }

  .logo {
    filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.75));
  }
}
