//
// Scrollbar
//

//
// No scrollbar utility
//

// Chrome, Edge and Safari
.scollbar-none::-webkit-scrollbar {
  display: none;
}

// Firefox, IE, and Edge
.scollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
